.revenue__box, .order__box, .products__box, .users__box
{
    padding: 20px;
    border-radius: 5px;
}

.revenue__box
{
    background: var(--card-bg-01);
}
.products__box
{
    background: var(--card-bg-03);
}
.order__box
{
    background: var(--card-bg-04);
}
.users__box
{
    background: var(--card-bg-04);
}

.revenue__box h5, .order__box h5, .products__box h5, .users__box h5
{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.revenue__box span, .order__box span, .products__box span, .users__box span
{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 2rem;
}
/* For the first table */
.data-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .data-table th, .data-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .data-table th {
    background-color: #f2f2f2;
  }
  
  /* For the second table */
  .order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .order-table th, .order-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .order-table th {
    background-color: #f2f2f2;
  }
  
  .order .total-row {
    background-color: #f2f2f2;
  }

  /* Apply styles to the last two cells in the table */
.data-table tbody tr td:nth-last-child(-n+2) {
    font-weight: bold; /* Make text bold for the last row */
    background-color: #f2f2f2; /* Background color for the last row */
  }
  
  /* Align the "Total Quantity" text to the right */
  .data-table tbody tr td:nth-last-child(-n+1) {
    text-align: right;
  }
  
  