.product__info h3 a
{
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 15px;
}
.product__item
{
    cursor: pointer;
}

.product__info a:hover
{
    color: inherit;
}

.product__info span
{
    font-size: .9rem;
}
.product__card-bottom .price
{
color: var(--primary-color);
font-size: 1.3rem;
font-weight: 500;
}
.product__card-bottom span i
{
    font-size: 1.2rem;
    padding: 5px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50px;
}
.product-img{
  height: '250px';
}
.product-card {
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .product-card.withBackdrop {
    position: relative;
  }
  
  .product-card.withBackdrop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the backdrop color as needed */
    z-index: 0;
    opacity: 0.7;
  }
@media only screen and (max-width:992px) 
{
    .product__info h3 a {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width:768px) 
{
    .product__info h3 a {
        font-size: 10px;
    }
    .product__card-bottom span i 
    {
        font-size: 1rem;
    }
    .product__card-bottom .price {
    font-size: 20px;
    margin-left: 10px;
    }
    .product__info span {
        font-size: 10px;
    }
    .product__info h3 {
        line-height: 0%;
    }
}
.delete-icon {
    position: absolute;
    font-size: 25px;
    background-color: #000;
    border-bottom-left-radius:20%;
    top: 0;
    right: 0;
    color: #fff; /* Adjust the color as needed */
  }

.shop-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    border-top-left-radius:20%;
    font-size: 25px;
    background-color: #000;
    color: #fff;
}

.quantity-control {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 30%
  }
  
  .quantity-button {
    background-color: transparent; 
    border: none;
    
  }
  .quantity-button:hover {
    background-color: black;
  }
  
  .quantity-input {
    margin-left: 20px;
    flex: 1;
    height: 20px;
  }
  .quantity-input input {
    height: 100%;
    border: none;
    background: transparent !important;
    color:#fff;
    border-radius: 0;
    padding: 0;
    max-width: 30px;
}
  /* Media queries as needed */
  @media (max-width: 600px) {
    .quantity-button {
      width: 20px;
      height: 20px;
    }
    .product__name {
        white-space: nowrap;
    }
  }
  
  @media (min-width: 600px) {
    .quantity-button {
      width: 32px;
      height: 32px;
    }
  }